a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, s, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font: inherit; */
}

body{
    font-size: 20px;
    color: #fff;
}
#root{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75px 300px 300px 100px;
    grid-template-areas:
        "header"
        "sidebar"
        "s"
        "footer";   
}

#header {
    grid-area: header;
    background-color: #0f2b3d;
    color: white;
    text-align: center;
    /* font-size: 1.3em; */
    padding: 10px;
}
#footer {
    grid-area: footer;
    background-color: #0f2b3d;
    border-top: white 2px solid;
    display: none;
}
#sidebar {
    grid-area: sidebar;
    background-color: #0f2b3d;
    border: red 2px solid;
}
#sidebar .title{
    Padding: 10px;
    text-align: center;
    font-size: 1.5em;
}
#customers-list{
    overflow-y: scroll;
    height: 100%;
    scrollbar-color: red yellow;
}
#customer-details {
    grid-area: s;
    /* background-image: url('../public/background-2.jpg'); */
    /* background-color: #f8f8f8;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
    background-color: rgb(231, 223, 223);
    padding: 10px;
    height: 100%;
    color: black;
}
#customer-details strong{
    text-transform: capitalize;
    size: 1.3em
}
#customer-details input {
    text-transform: capitalize;
}
.customer-info{

}
#sidebar .name{
    padding: 15px;
    text-overflow: ellipsis;
    border-top: 2px black solid;
}
#sidebar .name:hover, #sidebar .selected{
    cursor: pointer;
    background-color: #178991;
}

#sidebar p{
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.success {
    padding: 10px;
    color: green;
    background:   rgb(232, 243, 255);
    font-size: 20px;
    margin: 10px 0;
}
.warning {
    padding: 10px;
    color: red;
    background:   rgb(232, 243, 255);
    font-size: 20px;
    margin: 10px 0;
}
@media (min-width : 730px){
    #root {
        grid-template-columns: 30% 70%;
        grid-template-rows: 75px 550px 100px;
        grid-template-areas:
            "header header"
            "sidebar s"
            "footer footer";
    }
    #header{
        /* font-size: 2.5em; */
    }
}