a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, s, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
}
:root {
    --main-color: #0f2b3d;
    --second-color: #178991;
  }
body{
    font-family: cursive, sans-serif, serif;
    font-size: 19px;
    color: #fff;    
}
#customer-details h2{
    margin-bottom: 25px;
       color: var(--second-color);
    font-size: 1.5em;
}
#root{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75px 300px 300px 130px;
    grid-template-areas:
        "header"
        "sidebar"
        "s"
        "footer";   
}

#header {
    grid-area: header;
    background-color: var(--main-color);
    color: white;
    text-align: center;
    border-bottom: 3px solid #fff;
    padding: 10px;
}
#footer {
    grid-area: footer;
    background-color: var(--main-color);
    border-top: white 3px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    size: 1.5em;
}
#footer a{
    margin: 10px;
}
#sidebar {
    grid-area: sidebar;
    background-color: var(--main-color);
}
#sidebar .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15%;
}
#customers-list{
    overflow-y: scroll;
    height: 85%;
    
}

#customer-details {
    grid-area: s;
    background-color: #f8f8f8;
    padding: 10px;
    color: black;
    overflow-y: scroll;
}
#customer-details strong{
    font-size: 1.2em
}
.capitalize{
    text-transform: capitalize;
}
form>div{
    margin-bottom: 10px;
}
button {
    border-radius: 10px;
    background-color: var(--second-color);
    color: white;
    padding: 5px 9px;
    font-size: 22px;
    border: none;
}
button:hover{
    background-color: var(--main-color);
}
#sidebar .name{
    padding: 15px;
    text-overflow: ellipsis;
    border-top: 2px black solid;
}
#sidebar .name:hover, #sidebar .selected{
    cursor: pointer;
    background-color: #178991;
}

#sidebar p{
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.center {
  text-align: center;  
}
#customer-details .section{
    margin-top: 30px;
    padding-left: 20px;

}
form label {
    display: block
}
form select, form input{
    display: block;
    width: 100%;
    padding: .375rem 0;
    line-height: 1.5;
    background-color: #fff;
    font-family: cursive, sans-serif, serif; 
    font-size: 22px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
form input:focus, form select:focus{
    border: 2px solid var(--second-color);
    outline: none;
}
#submit {
    text-align: center;
}
@media (min-width : 730px){
    #root {
        grid-template-columns: 30% 70%;
        grid-template-rows: 75px 550px 130px;
        grid-template-areas:
            "header header"
            "sidebar s"
            "footer footer";
    }
   
    #customers-list{
        height: 85%;
    }
    #sidebar .title h2{
        font-size: 1.3em;
    }
    #fill > div{
        width: 45%;
        margin: 5px;
        display: inline-block;
    }
    
}

/* animation */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  body { animation: fadeIn 4s; }
/*   
  @-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
 } 
  */
 @keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 }
 
 #header h1 {
     /* Starting position */
     -moz-transform:translateY(50%);
     -webkit-transform:translateY(50%);	
     transform:translateY(50%);
     /* Apply animation to this element */	
     -moz-animation: fast 1s linear infinite alternate;
     -webkit-animation: fast 1s linear infinite alternate;
     animation: fast 1s linear infinite alternate;
    }
    /* Move it (define the animation) */
    @-moz-keyframes fast {
     0%   { -moz-transform: translateY(50%); }
     100% { -moz-transform: translateY(-50%); }
    }
    @-webkit-keyframes fast {
     0%   { -webkit-transform: translateY(50%); }
     100% { -webkit-transform: translateY(-50%); }
    }
    @keyframes fast {
     0%   { 
     -moz-transform: translateY(50%); /* Browser bug fix */
     -webkit-transform: translateY(50%); /* Browser bug fix */
     transform: translateY(50%); 		
     }
     100% { 
     -moz-transform: translateY(-50%); /* Browser bug fix */
     -webkit-transform: translateY(-50%); /* Browser bug fix */
     transform: translateY(-50%); 
     }
    }
   
    